
  <main id="main">
  <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Categories Details</h2>
          <ol>
            <li><a routerLink="/home">Home</a></li>
            <li>Categories Details</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Categories Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container" data-aos="fade-up">

        <div class="portfolio-details-container">

          <div class="owl-carousel1 portfolio-details-carousel">
            <img src="../assets/img/slide/details4.jpg" class="img-fluid" alt="">
          </div>

          <div class="portfolio-info">
            <h3>Categories information</h3>
            <ul>
              <li><strong>Category</strong>: {{detailData?.title}}</li>
              <li><strong>Service</strong>: Available</li>
              <li><strong>Contact No</strong>: +91 8529750400/7044404845</li>
              <li><strong>Email</strong>: jugadubabaservices@gmail.com</li>
            </ul>
          </div>

        </div>

        <div class="portfolio-description">
          <h2>{{detailData?.title}}</h2>
          <p>
            {{detailData?.description}}
          </p>
          <h3>Subcategories</h3>
          <ul>
            <li  class="sub-txt" *ngFor="let data of detailData.subcategories">
              {{data.name}}
            </li>
          </ul>
        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->