<main id="main">
  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h2>{{details?.title}}</h2>
        <ol>
          <li><a routerLink="/home">Home</a></li>
          <li>{{details?.title}}</li>
        </ol>
      </div>

    </div>
  </section><!-- End Breadcrumbs -->

  <!-- ======= Categories Details Section ======= -->
  <section id="portfolio-details" class="portfolio-details" *ngIf="href && href !=='/services' ; else elseTemplate">
    <div class="container" data-aos="fade-up">

      <div class="portfolio-details-container">

        <div class="owl-carousel1 portfolio-details-carousel">
          <img src="../assets/img/slide/details4.jpg" class="img-fluid" alt="">
        </div>

      </div>

      <div *ngIf="details" class="portfolio-description">
        <p [innerHtml]="details?.description">
        </p>

      </div>


    </div>
  </section>
  <!-- End Portfolio Details Section -->

  <ng-template #elseTemplate>
    <section id="services" class="services">
      <div class="container" data-aos="fade-up">
         <div class="section-title">
        <h2>Jugadu Services</h2>
        <p>Check our Services</p>
      </div>


        <div class="row">

          <div *ngFor="let service of serviceList; let i = indx"
            class="col-lg-4 col-md-6 d-flex align-items-stretch margin-bttom" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box" (click)="goToPage(service.id)">
              <div class="icon">
                <i class="{{service.icon}}"></i>
              </div>
              <h4><a href="javascript:void(0)">{{service.title}}</a></h4>
              <p class="text">{{service.description}}</p>
            </div>
          </div>
        </div>

      </div>
    </section>
  </ng-template>


</main><!-- End #main -->