<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="footer-info">
            <h3>JB<span>.</span></h3>
            <p>
              Ambika Apt, 1st Floor,FL No. C-217 <br>
              Lokenath Park<br>
              P.O.- Hatiyara, Kolkata 700157<br>
              <strong>Tel:</strong> 033-40085063<br>
              <strong>Phone:</strong> +91 8529750400/7044404845<br>
              <strong>Email:</strong> jugadubabaservices@gmail.com<br>
            </p>
            <div class="social-links mt-3">
              <!-- <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a> -->
              <a href="https://www.facebook.com/jugadubabaofficial/" target="_blank"  class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="https://www.instagram.com/jugadubabaofficial/" target="_blank" class="instagram"><i class="bx bxl-instagram"></i></a>
              <!-- <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a> -->
              <a href="https://www.linkedin.com/in/jugadu-baba-a696331b4" target="_blank" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-2 col-md-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a routerLink="/">Home</a></li>
            <li><i class="bx bx-chevron-right"></i> <a routerLink="/about">About us</a></li>
            <li><i class="bx bx-chevron-right"></i> <a routerLink="/services">Services</a></li>
            <li><i class="bx bx-chevron-right"></i> <a routerLink="/terms-and-conditions">Terms of service</a></li>
            <li><i class="bx bx-chevron-right"></i> <a routerLink="/privacy-policy">Privacy policy</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Top Services</h4>
          <ul>
            <li *ngFor="let top of topList"><i class="bx bx-chevron-right"></i> <a href="javascript:void(0)" (click)="goToPage(top.id)">{{top.title}}</a></li>
                     </ul>
        </div>

        <div class="col-lg-4 col-md-6 footer-newsletter">
          <h4>Our Newsletter</h4>
          <p>We have launched our services in your town. Contact Us.</p>
          <!-- <form action="" method="post">
            <input type="email" name="email"><input type="submit" value="Subscribe">
          </form> -->

        </div>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright">
      &copy; Copyright 2018 <strong><span>JB</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
    
    </div>
  </div>
</footer>