<!-- <ng-template #mainPage> -->
<section id="hero" class="d-flex align-items-center justify-content-center">
  <div class="container" data-aos="fade-up">

    <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
      <div class="col-xl-6 col-lg-8">
        <h1>Jugadu Baba<span>.</span></h1>
        <h2>For your almost every problem, We have a team of professionals, Call Us.</h2>
      </div>
    </div>

    <div class="row mt-5 justify-content-center" data-aos="zoom-in" data-aos-delay="250">
      <div *ngFor="let top of topList" class="col-xl-2 col-md-4 col-6">
        <div class="icon-box">
          <i class="{{top.icon}}"></i>
          <h3><a href="javascript:void(0)" (click)="goToPage(top.id)">{{top.title}}</a></h3>
        </div>
      </div>
    </div>

  </div>
</section>
<!-- End Hero -->

<main id="main">

  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="row">
        <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
          <img src="../assets/img/about.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
          <h3>We are the Team of Professionals.</h3>
          <p class="font-italic">
            We have a flexibl approach to problem-solving that uses limited resources in an innovative way.
          </p>
          <ul>
            <li><i class="ri-check-double-line"></i> JUGADU BABA SERVICES PRIVATE LIMITED is one of the largest at-home
              services provider Company. We are an all-in-one platform that helps users hire premium service
              professionals, from technicians and masseurs to sofa cleaners, carpenter and plumbers.
            </li>
            <li><i class="ri-check-double-line"></i> JUGADU BABA is also a technology-driven platform, offering services
              that cover the legal needs of startups and established businesses that’s why we offer a wide range of
              services to individuals, such as property agreements and tax filings.</li>
            <li><i class="ri-check-double-line"></i> You will access this service from our Legal Services Platform.From
              bike Rentals to Property Rentals, From Labour Supply to Skilled Manpower Supply.we deal with almost
              everything.</li>
          </ul>

        </div>
      </div>

    </div>
  </section><!-- End About Section -->



  <!-- ======= Features Section ======= -->
  <section id="features" class="features">
    <div class="container" data-aos="fade-up">

      <div class="row">
        <div class="image col-lg-6" style='background-image: url("../assets/img/features.jpg");' data-aos="fade-right">
        </div>
        <div class="col-lg-6" data-aos="fade-left" data-aos-delay="100">
          <div class="icon-box mt-5 mt-lg-0" data-aos="zoom-in" data-aos-delay="150">
            <i class="bx bx-receipt"></i>
            <h4>Provide a platform</h4>
            <p>JUGADU BABA provides a platform that allows skilled and experienced professionals to connect with users
              looking for specific services.</p>
          </div>
          <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
            <i class="bx bx-cube-alt"></i>
            <h4>Our matchmaking algorithm</h4>
            <p>Once on the platform, our matchmaking algorithm identifies professionals who are closest to users’
              requirements and available at requested time and date.
            </p>
          </div>
          <!-- <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
            <i class="bx bx-images"></i>
            <h4>Aut occaecati</h4>
            <p>Aut suscipit aut cum nemo deleniti aut omnis. Doloribus ut maiores omnis facere</p>
          </div> -->
          <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
            <i class="bx bx-shield"></i>
            <h4>Enjoy our services</h4>
            <p>India is urbanizing at a faster rate than any country in human history. Everything is getting technical
              and we look forward to providing every service at your Doorstep. Enjoy our services!</p>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Features Section -->

  <!-- ======= Services Section ======= -->
  <section id="services" class="services">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Services</h2>
        <p>Check our Services</p>
      </div>

      <div class="row">

        <div *ngFor="let service of serviceList;" class="col-lg-4 col-md-6 d-flex align-items-stretch margin-bttom"
          data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box" (click)="goToPage(service.id)">
            <div class="icon">
              <i class="{{service.icon}}"></i>
            </div>
            <h4><a href="javascript:void(0)">{{service.title}}</a></h4>
            <p class="text">{{service.description}}</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch margin-bttom" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box">
            <div class="icon">
              <i class="bx bx-subdirectory-right"></i>
            </div>
            <h4><a href="javascript:void(0)" [routerLink]="['/services']">Click here...</a></h4>
            <p class="text">Click here to explore our all services.</p>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Services Section -->

  <!-- ======= Cta Section ======= -->
  <section id="cta" class="cta">
    <div class="container" data-aos="zoom-in">

      <div class="text-center">
        <h3>Call To Action</h3>
        <p> We are sitting here to solve your problems. We will give our best services to solve your problems. Your
          satisfaction is our motto. Call us on
        </p>
        <a class="cta-btn" href="javascript:void(0)">8529750400</a>
      </div>

    </div>
  </section><!-- End Cta Section -->

  <!-- ======= Counts Section ======= -->
  <section id="counts" class="counts">
    <div class="container" data-aos="fade-up">

      <div class="row no-gutters">
        <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start"
          data-aos="fade-right" data-aos-delay="100"></div>
        <div class="col-xl-7 pl-0 pl-lg-5 pr-lg-1 d-flex align-items-stretch" data-aos="fade-left" data-aos-delay="100">
          <div class="content d-flex flex-column justify-content-center">
            <h3>Just try with our services.</h3>
            <p>
              We are award winning company. Call us and try our services you will be never disappoint. We have best team
              to solve almost your all type of problems.
            </p>
            <div class="row">
              <div class="col-md-6 d-md-flex align-items-md-stretch">
                <div class="count-box">
                  <i class="icofont-simple-smile"></i>
                  <span data-toggle="counter-up">5,000</span>
                  <p><strong>Happy Clients</strong> Using our services and solving their daily life problem via
                    contacting us. Call us now.</p>
                </div>
              </div>

              <div class="col-md-6 d-md-flex align-items-md-stretch">
                <div class="count-box">
                  <i class="icofont-document-folder"></i>
                  <span data-toggle="counter-up">16</span>
                  <p><strong>Categories</strong> We provide services of almost all categories of your problems.</p>
                </div>
              </div>

              <div class="col-md-6 d-md-flex align-items-md-stretch">
                <div class="count-box">
                  <i class="icofont-clock-time"></i>
                  <span data-toggle="counter-up">2</span>
                  <p><strong>Years of exclence</strong> of our services. We are happy to help you.</p>
                </div>
              </div>

              <div class="col-md-6 d-md-flex align-items-md-stretch">
                <div class="count-box">
                  <i class="icofont-award"></i>
                  <span data-toggle="counter-up">15</span>
                  <p><strong>Awards</strong> and many more to come. Your satisfaction is our award.</p>
                </div>
              </div>
            </div>
          </div><!-- End .content-->
        </div>
      </div>

    </div>
  </section><!-- End Counts Section -->



  <!-- ======= Team Section ======= -->
  <section id="team" class="team">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Team</h2>
        <p>Check our Team</p>
      </div>

      <div class="row">

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up" data-aos-delay="100">
            <div class="member-img">
              <img src="../assets/img/team/team-1.jpg" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="icofont-twitter"></i></a>
                <a href=""><i class="icofont-facebook"></i></a>
                <a href=""><i class="icofont-instagram"></i></a>
                <a href=""><i class="icofont-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Naveen</h4>
              <span>Chief Executive Officer</span>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up" data-aos-delay="200">
            <div class="member-img">
              <img src="../assets/img/team/team-2.jpg" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="icofont-twitter"></i></a>
                <a href=""><i class="icofont-facebook"></i></a>
                <a href=""><i class="icofont-instagram"></i></a>
                <a href=""><i class="icofont-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Shilpa</h4>
              <span>Product Manager</span>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up" data-aos-delay="300">
            <div class="member-img">
              <img src="../assets/img/team/team-3.jpg" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="icofont-twitter"></i></a>
                <a href=""><i class="icofont-facebook"></i></a>
                <a href=""><i class="icofont-instagram"></i></a>
                <a href=""><i class="icofont-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Sandeep</h4>
              <span>CTO</span>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="fade-up" data-aos-delay="400">
            <div class="member-img">
              <img src="../assets/img/team/team-4.jpg" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="icofont-twitter"></i></a>
                <a href=""><i class="icofont-facebook"></i></a>
                <a href=""><i class="icofont-instagram"></i></a>
                <a href=""><i class="icofont-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Monika</h4>
              <span>Accountant</span>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Team Section -->

  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Contact</h2>
        <p>Contact Us</p>
      </div>

      <div>
        <iframe style="border:0; width: 100%; height: 270px;"
          src="https://www.google.com/maps/d/embed?mid=1bIvaSgeWlj2YOTUgjvDioEzAbFo" frameborder="0"
          allowfullscreen></iframe>
      </div>

      <div class="row mt-5">

        <div class="col-lg-4">
          <div class="info">
            <div class="address">
              <i class="icofont-google-map">++</i>
              <h4>Location:</h4>
              <p>Ambika Apt, 1st Floor,FL No. C-217 Lokenath Park P.O.- Hatiyara Kolkata 700157</p>
            </div>

            <div class="email">
              <i class="icofont-envelope"></i>
              <h4>Email:</h4>
              <p>jugadubabaservices@gmail.com</p>
            </div>

            <div class="phone">
              <i class="icofont-phone"></i>
              <h4>Call:</h4>
              <p>033-40085063/8529750400/7044404845</p>
            </div>

          </div>

        </div>

        <div class="col-lg-8 mt-5 mt-lg-0">

          <!-- <form> -->
          <form [formGroup]="msgForm" (ngSubmit)="onSubmit()">
            <div class="form-row">
              <div class="col-md-6 form-group">
                <input type="text" name="name" class="form-control" id="name" formControlName="name"
                  placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                <div class="validate"></div>
                <div *ngIf="msgForm.get('name').invalid && (msgForm.get('name').dirty || msgForm.get('name').touched)"
                class="alert-text">
                <div *ngIf="msgForm.get('name').errors.required">
                  Name is required.
                </div>
                <div *ngIf="msgForm.get('name').errors.minlength">
                  Name must be at least 4 characters long.
                </div>

              </div>
              </div>
              <div class="col-md-6 form-group">
                <input type="email" class="form-control" formControlName="email" name="email" id="email"
                  placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                <div class="validate"></div>
                <div *ngIf="msgForm.get('email').invalid && (msgForm.get('email').dirty || msgForm.get('email').touched)"
                class="alert-text">
                <div *ngIf="msgForm.get('email').errors.required">
                  Email is required.
                </div>
                <div *ngIf="msgForm.get('email').errors.email">
                  Please enter valid email.
                </div>
              </div>
              </div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="subject" formControlName="subject" id="subject"
                placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
              <div class="validate"></div>
                <div *ngIf="msgForm.get('subject').invalid && (msgForm.get('subject').dirty || msgForm.get('subject').touched)"
                class="alert-text">
                <div *ngIf="msgForm.get('subject').errors.required">
                  Subject is required.
                </div>
                

              </div>
            </div>
            <div class="form-group">
              <textarea class="form-control" name="message" rows="5" formControlName="message" data-rule="required"
                data-msg="Please write something for us" placeholder="Message"></textarea>
              <div class="validate"></div>
              <div *ngIf="msgForm.get('message').invalid && (msgForm.get('message').dirty || msgForm.get('message').touched)"
                class="alert-text">
                <div *ngIf="msgForm.get('message').errors.required">
                  Message is required.
                </div>
                              </div>
            </div>
            <div class="text-center"><button type="submit" class="btn btn-warning" [disabled]="msgForm.invalid">Send Message</button></div>
          </form>
        </div>
      </div>
    </div>
  </section><!-- End Contact Section -->

</main>
<!-- </ng-template> -->