<header id="header" class="" [ngClass]="(activeRoute == '/') ? 'fixed-top': 'fixed-top header-inner-pages'">
    <div class="container d-flex align-items-center justify-content-between">
  
      <h1 class="logo"><a class="button" [routerLink]="['/']">JB<span>.</span></a></h1>
  
      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a class="button" [routerLink]="['/']">Home</a></li>
          <li [routerLinkActive]="['active']"><a class="button" [routerLink]="['/services']">Services</a></li>
          <li [routerLinkActive]="['active']"><a class="button" [routerLink]="['/vendor']">Vendor Registration</a></li>
          <li [routerLinkActive]="['active']"><a class="button" [routerLink]="['/about']">About Us</a></li>
          <li [routerLinkActive]="['active']"><a class="button" [routerLink]="['/contact-us']">Contact Us</a></li>
        </ul>
      </nav><!-- .nav-menu -->
  
  
    </div>
  </header>
  